

    /* Import fonts */
    @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);
    @import url('https://fonts.googleapis.com/css?family=Lora');
    @import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');

    body {
        color: #797979;
        background: #f1f2f7;
        font-family: font-family: 'Comfortaa', cursive;
        padding: 0px !important;
        margin: 0px !important;
        font-size:13px;
    }
    h1, h2, h3, h4, h5, h6{
        font-family: 'Comfortaa', cursive;
         color: #2e4c6b;
    }
    a{cursor:pointer;}
    img{
        width:100%;
    }
   .light h1{
    color: #2e4c6b;
   }
.logo-container {
    width: 198px;
    float: left;
    margin-top: 21px;
}
    ul li {
        list-style: none;
        font-family: 'Comfortaa', cursive;
    }

    a, a:hover, a:focus {
        text-decoration: none;
        outline: none;
        font-family: 'Comfortaa', cursive;

    }
    p{
        font-family: 'Comfortaa', cursive;
        font-size: 13px;
    line-height: 20px;
    }
    div{
        font-family: 'Comfortaa', cursive;
    }
    .bold {
        font-weight: bolder;
        color: #151515;
    }
    ::selection {

        background: #FF6C60;
        color: #fff;
    }
    ::-moz-selection {
        background: #FF6C60;
        color: #fff;
    }

    #container {
        width: 100%;
        height: 100%;
    }

    /*login page*/

    .login-body {
        background-color: #f1f2f7;
    }

    .form-signin {
        max-width: 330px;
        margin: 100px auto 0;
        background: #fff;
        border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .form-signin h2.form-signin-heading {
        margin: 0;
        padding:20px 15px;
        text-align: center;
        background: #41cac0;
        border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
    }

    .form-signin .checkbox {
        margin-bottom: 14px;
    }
    .form-signin .checkbox {
        font-weight: normal;
        color: #b6b6b6;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
    }
    .form-signin .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .form-signin .form-control:focus {
        z-index: 2;
    }
    .form-signin input[type="text"], .form-signin input[type="password"] {
        margin-bottom: 15px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        border: 1px solid #eaeaea;
        box-shadow: none;
        font-size: 12px;
    }

    .form-signin .btn-login {
        background: #f67a6e;
        color: #fff;
        text-transform: uppercase;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
        box-shadow: 0 4px #e56b60;
        margin-bottom: 20px;
    }

    .form-signin p {
        text-align: center;
        color: #b6b6b6;
        font-size: 16px;
        font-weight: 300;
    }


    ul.dropdown-menu.extended.logout h5 {
        color: #a4abbb;
        text-align: center;
        border-bottom: 1px solid #f0f3f5;
        padding: 0 10px 10px;
        text-transform: uppercase;

    }


    /*sidebar navigation*/

    #sidebar {
        width: 210px;
        height: 100%;
        position: fixed;
        background:#8e969e;
    }

    #sidebar ul li {
        position: relative;
    }

    #sidebar .sub-menu > .sub li  {
        padding-left: 32px;
    }

    #sidebar .sub-menu > .sub li:last-child {
        padding-bottom: 10px;
    }

    /*LEFT NAVIGATION ICON*/
    .dcjq-icon {
        height:17px;
        width:17px;
        display:inline-block;
        background: url(../img/nav-expand.png) no-repeat top;
        border-radius:3px;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        position:absolute;
        right:10px;
        top:15px;
    }
    .active .dcjq-icon {
        background: url(../img/nav-expand.png) no-repeat bottom;
        border-radius:3px;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
    }
    /*---*/

    .nav-collapse.collapse {
        display: inline;
    }

    ul.sidebar-menu , ul.sidebar-menu li ul.sub{
        margin: -2px 0 0;
        padding: 20px 0 0 0 ;
    }

    ul.sidebar-menu {
        margin-top: 75px;
    }

    #sidebar > ul > li > ul.sub {
        display: none;
    }

    #sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
        display: block;
    }

    ul.sidebar-menu li ul.sub li{
        background: #35404D;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }

    ul.sidebar-menu li ul.sub li:last-child{
        border-radius: 0 0 4px 4px;
        -webkit-border-radius: 0 0 4px 4px;
    }

    ul.sidebar-menu li ul.sub li a {
        font-size: 12px;
        padding: 6px 0;
        line-height: 35px;
        height: 35px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        color: #aeb2b7;
    }

    ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
        color: #FF6C60;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
        display: block;
    }

    ul.sidebar-menu li{
        /*line-height: 20px !important;*/
        margin-bottom: 5px;
        margin-left:10px;
        margin-right:10px;
    }

    ul.sidebar-menu li.sub-menu{
        line-height: 15px;
    }

    ul.sidebar-menu li a span{
        display: inline-block;
    }

    ul.sidebar-menu li a{
        color: #fff;
        text-decoration: none;
        display: block;
        padding: 15px 0 15px 10px;
        font-size: 12px;
        outline: none;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
        background: #00000061;
        color: #fff;
        display: block;
        border-radius: 4px;
        -webkit-border-radius: 4px;

        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }


    ul.sidebar-menu li a i {
        font-size: 15px;
        padding-right: 6px;
    }

    ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
        color: #FF6C60;
    }

    ul.sidebar-menu li a.active i {
        color: #FF6C60;
    }


    .mail-info, .mail-info:hover {
        margin: -3px 6px 0 0;
        font-size: 11px;
    }

    /*main content*/

    #main-content {
        margin-left: 210px;
    }

    .header, .footer {
        min-height: 80px;
        padding: 0 15px;
    }

    .header {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 1002;
        background: url(../img/nav-bg.jpg)top right #2a3542;
        -webkit-box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2);
box-shadow: 0 3px 10px 0 rgba(0,0,0,0.2);
        background-size: cover;
    }
       .header.light {
        position: fixed;
        left: 0;
        right: 0;
        z-index: 1002;
        background: #fff;
        -webkit-box-shadow: 0 3px 10px 0 0 3px 10px 0 #00000073;
        box-shadow: 0 3px 10px 0 0 3px 10px 0 #00000073;
     
    }
     
    ul.buttonsAction li a {
        background: #000934;
        font-size: 1.5rem;
        color: #fff;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        line-height: 45px;
        text-align: center;
    }
    ul.dropdown-menu.seconMenu {
     
        left: auto!important;
        right: -64px;
    }
    ul.dropdown-menu.seconMenu small{
  font-size: 10px!important;
    display: block;
    height: 10px;
    margin-top: -30px;
    text-align: center;
    }
    ul.dropdown-menu.seconMenu{
        background:none!important;
        border:none!important;
        box-shadow:none!important;
    }
    ul.buttonsAction li .dropdown {
        background: #000934;
        font-size: 1.5rem;
        color: #fff;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        line-height: 45px;
        text-align: center;
    }

    ul.buttonsAction .i-setting {
    }
    button.btn.btn-round.btn-info i{
        font-size:1.3rem;
    }
    ul.buttonsAction .i-calendar {

    }
    .btn-sm, .btn-xs {
    border-radius: 100%!important;
        line-height: 28px;
        padding: 0px 6px;
        width: 25px;
        height: 25px;
        display: inline-flex;
    }
    .panel-heading h1 {
        width: 80%;
        display: inline-block;
    }
    ul.buttonsAction {
        display: flex;
        float: right;
        width: 15%;
        margin: 23px 0;
        font-size: 3rem;
    }

    .buttonsAction li {
        display: inline-flex;
        flex:1;
        
        width: 30%;
    }

    .white-bg {
        background: #fff;
        border-bottom: 1px solid #f1f2f7;
    }
    .panel-heading {
        padding: 10px 15px;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        background: #fff;
    }
    .col-lg-9.col-xs-12.col-sm-9.col-md-9.col-md-offset-3.col-lg-offset-3{
        text-align:right;
        width:100%!important;
        margin:0px!important;
    }
    .wrapper {
        display: inline-block;
        margin-top: 80px;
        padding: 15px;
        width: 100%;
    }

    a.logo {
      width:150px;
    }

    a.logo img {
      width:100%;
    }



    /*notification*/

    #top_menu .nav > li, ul.top-menu > li {
        float: left;
    }

    .notify-row {
            float: left;
        margin-top: 20px;
        margin-left: 6px;
    }

    ul.top-menu > li > a {
    color: #ffffff;
        font-size: 16px;
        border-radius: 4px;
        -webkit-border-radius: 50%;
        border: 1px solid #f0f0f8 ;
        margin-right: 15px;
    }

    ul.top-menu > li > a:hover, ul.top-menu > li > a:focus {
        background-color: transparent!important;;
    }

    .notify-row .badge {
        position: absolute;
        right: -10px;
        top: -10px;
        z-index: 100;
    }

    .dropdown-menu.extended {
        max-width: 300px !important;
        min-width: 160px !important;
        top: 55px;
        width: 235px !important;
        padding: 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176) !important;
        border: none !important;
        border-radius: 4px;
        -webkit-border-radius: 4px;
    }
    .light .top-nav ul.top-menu > li i {
    color: #2e4c6b;
    font-size: 16px;
    border: 1px solid #2e4c6b;
    border-radius: 50%;
    padding: 9px 12px 6px;
    position: absolute;
    left: -20px;
}
.nav-collapse.light{
    background:#2e4c6b!important;
}
.light .sidebar-toggle-box {
    color: #2e4c6b!important;
}
.light i.i-logout{
    color:white;
}
.light ul.buttonsAction li a {
    background: #74a2d0;
}
.light ul.buttonsAction li .dropdown {
    background: #74a2d0;
}
.light .top-nav .username {

    color:#2e4c6b;
}

    @media screen and (-webkit-min-device-pixel-ratio:0) {
        /* Safari and Chrome */
        .dropdown-menu.extended  {
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176) !important;
        };
        }

    .dropdown-menu.extended li p {
      
    }

    .dropdown-menu.extended li p.green {
        background-color: #a9d86e;
        color: #fff;
    }

    .dropdown-menu.extended li p.red {
        background-color: #ff6c60;
        color: #fff;
    }

    .dropdown-menu.extended li p.yellow {
        background-color: #fcb322;
        color: #fff;
    }

    .dropdown-menu.extended li a {
        border-bottom: 1px solid #EBEBEB !important;
        font-size: 12px;
        list-style: none;
    }

    .dropdown-menu.extended li a {
        padding: 15px 10px !important;
        width: 100%;
        display: inline-block;
    }

    .dropdown-menu.extended li a:hover {
        background-color: #F7F8F9 !important;
        color: #2E2E2E;
    }

    .dropdown-menu.tasks-bar .task-info .desc {
        font-size: 13px;
        font-weight: normal;
    }

    .dropdown-menu.tasks-bar .task-info .percent {
        display: inline-block;
        float: right;
        font-size: 13px;
        font-weight: 600;
        padding-left: 10px;
        margin-top: -4px;
    }

    .dropdown-menu.extended .progress {
        margin-bottom: 0 !important;
        height: 10px;
    }

    .dropdown-menu.inbox li a .photo img {
        border-radius: 2px 2px 2px 2px;
        float: left;
        height: 40px;
        margin-right: 4px;
        width: 40px;
    }

    .dropdown-menu.inbox li a .subject {
        display: block;
    }

    .dropdown-menu.inbox li a .subject .from {
        font-size: 12px;
        font-weight: 600;
    }

    .dropdown-menu.inbox li a .subject .time {
        font-size: 11px;
        font-style: italic;
        font-weight: bold;
        position: absolute;
        right: 5px;
    }

    .dropdown-menu.inbox li a .message {
        display: block !important;
        font-size: 11px;
    }

    .top-nav  {
        margin-top: 7px;
    }

    .top-nav ul.top-menu > li .dropdown-menu.logout {
        width: 268px !important;

    }

    .top-nav li.dropdown .dropdown-menu {
        float: right;
        right: 0;
        left: auto;
    }

    .dropdown-menu.extended.logout > li {
        float: left;
        text-align: center;
        width: 33.3%;
    }

    .dropdown-menu.extended.logout > li:last-child {
        float: left;
        text-align: center;
        width: 100%;
        background: #a9d96c;
        border-radius: 0 0 3px 3px;
    }

    .dropdown-menu.extended.logout > li:last-child > a, .dropdown-menu.extended.logout > li:last-child > a:hover {
        color: #fff;
        border-bottom: none !important;
        text-transform: uppercase;
    }

    .dropdown-menu.extended.logout > li:last-child > a:hover > i{
        color: #fff;
    }

    .dropdown-menu.extended.logout > li > a {
        color: #a4abbb;
        border-bottom: none !important;
            position: relative;
    }

    .full-width .dropdown-menu.extended.logout > li > a:hover {
        background: none !important;
        color: #50c8ea !important;
    }

    .dropdown-menu.extended.logout > li > a:hover {
        background: none !important;
    }

    .dropdown-menu.extended.logout > li > a:hover i {
        color: #50c8ea;
    }

    .dropdown-menu.extended.logout > li > a > div {
        font-size: 20px;
    }
    .bold{
        font-weight: bolder;
    }
    .dropdown-menu.extended.logout > li > a > div {
            border: none;
        font-size: 3rem;
        margin-top: -15px;
        margin-left: 10px;
    }
    i.i-logout {
        border: none!important;
        margin: -8px 0 0 20px;
    }
    a.logo i{
        font-size:10px;
        font-style: normal!important;
    }
    .top-nav .username {
        font-size: 13px;
        color: #fff;
    }


    .top-nav ul.top-menu > li {
        margin-left: 10px;
            margin-top: 5px;
    }



    .top-nav .dropdown-menu.extended.logout {
        top: 50px;
    }

    .top-nav .nav .caret {
        border-bottom-color: #A4AABA;
        border-top-color: #A4AABA;
    }
    .top-nav ul.top-menu > li > a:hover .caret {
        border-bottom-color: #fff;
        border-top-color: #fff;
    }




    .log-arrow-up {
        background: url("../img/arrow-up.png") no-repeat;
        width: 20px;
        height: 11px;
        position: absolute;
        right: 20px;
        top: -10px;
    }

    /*----*/

    .notify-arrow {
        border-style: solid;
        border-width: 0 9px 9px;
        height: 0;
        margin-top: 0;
        opacity: 0;
        position: absolute;
        right: 35px;
        top: -18px;
        transition: all 0.25s ease 0s;
        width: 0;
        z-index: 10;
        margin-top: 10px;
        opacity: 1;
    }

    .notify-arrow-yellow {
        border-color: transparent transparent #FCB322;
        border-bottom-color: #FCB322 !important;
        border-top-color: #FCB322 !important;
    }
    .notify-arrow-red {
        border-color: transparent transparent #ff6c60;
        border-bottom-color: #ff6c60 !important;
        border-top-color: #ff6c60 !important;
    }
    .notify-arrow-green {
        border-color: transparent transparent #a9d86e;
        border-bottom-color: #a9d86e !important;
        border-top-color: #a9d86e !important;
    }


    /*search*/

    img.user-image{
     border-radius:50%;
    width:40px;
    height:40px;
    }
    a.dropdown-toggle{
        border:none!important;
    }

    .top-nav ul.top-menu > li {
        position:relative;
    }
    .top-nav ul.top-menu > li i{
        color: white;
        font-size: 16px;
        border: 1px solid #fff;
        border-radius: 50%;
        padding: 9px 12px 6px;
        position: absolute;
        left: -20px;
    }
    .task-checkbox, .task-title{
        display:inline;
    }
    .label-primary {
        background-color: #59ace2;
    }
    .search:focus {
        margin-top: 5px ;
        width: 180px;
        border: 1px solid #eaeaea;
        box-shadow: none;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        color: #c8c8c8;
        font-weight: 300;
    }

    /*--sidebar toggle---*/

    .sidebar-toggle-box {
        float: left;
        padding-right: 15px;
        margin-top: 30px;
        margin-left:30px;
        color:white;
    }

    .sidebar-toggle-box .i-menu {
        cursor: pointer;
        display: inline-block;
        font-size: 20px;
    }


    .sidebar-closed > #sidebar > ul {
        display: none;
    }

    .sidebar-closed #main-content {
        margin-left: 0px;
    }

    .sidebar-closed #sidebar {
        margin-left: -180px;
    }

    /*state overview*/

    .state-overview .symbol, .state-overview .value {
        display: inline-block;
        text-align: center;
    }

    .state-overview .value  {
        float: right;

    }

    .state-overview .value h1, .state-overview .value p  {
        margin: 0;
        padding: 0;
        color: #c6cad6;
    }

    .state-overview .value h1 {
        font-weight: 300;
    }

    .state-overview .symbol i {
        color: #fff;
        font-size: 50px;
    }

    .state-overview .symbol {
        width: 40%;
        padding: 25px 15px;
        -webkit-border-radius: 4px 0px 0px 4px;
        border-radius: 4px 0px 0px 4px;
    }

    .state-overview .value {
        width: 58%;
        padding-top: 21px;
    }

    .state-overview .terques {
        background: #6ccac9;
    }

    .state-overview .red {
        background: #ff6c60;
    }

    .state-overview .yellow {
        background: #f8d347;
    }

    .state-overview .blue {
        background: #57c8f2;
    }

    /*main chart*/

    .border-head h3 {
        border-bottom: 1px solid #c9cdd7;
        margin-top: 0;
        margin-bottom: 20px;
        padding-bottom: 5px;
        font-weight: normal;
        font-size: 18px;
        display: inline-block;
        width: 100%;
        font-weight: 300;
    }

    .custom-bar-chart {
        height: 290px;
        margin-top: 20px;
        margin-left: 10px;
        position: relative;
        border-bottom: 1px solid #c9cdd7;
    }

    .custom-bar-chart .bar {
        height: 100%;
        position: relative;
        width: 4.3%;
        margin: 0px 2%;
        float: left;
        text-align: center;
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0x;
        border-radius: 5px 5px 0 0;
        z-index: 10;
    }

    .custom-bar-chart .bar .title {
        position: absolute;
        bottom: -30px;
        width: 100%;
        text-align: center;
        font-size: 12px;
    }

    .custom-bar-chart .bar .value {
        position: absolute;
        bottom: 0;
        background: #bfc2cd;
        color: #bfc2cd;
        width: 100%;
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        border-radius: 5px 5px 0 0;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
    }



    .custom-bar-chart .bar .value:hover {
        background: #e8403f;
        color: #fff;
    }

    .y-axis {
        color: #555555;
        position: absolute;
        text-align: right;
        width: 100%;
    }

    .y-axis li {
        border-top: 1px dashed #dbdce0;
        display: block;
        height: 58px;
        width: 100%;
    }

    .y-axis li:last-child {
        border-top: none;
    }

    .y-axis li span {
        display: block;
        margin: -10px 0 0 -25px;
        padding: 0 10px;
        width: 40px;
    }

    .y-axis {
        color: #555555;
        text-align: right;
    }




    /*spark line*/
    .chart {
        display: inline-block;
        text-align: center;
        width: 100%;
    }
    .chart .heading {
        text-align: left;
    }
    .chart .heading span {
        display: block;
    }
    .panel.green-chart .chart-tittle {
        font-size: 16px;
        padding: 15px;
        display: inline-block;
        font-weight:normal;
        background: #99c262;
        width: 100%;
        -webkit-border-radius: 0px 0px 4px 4px;
        border-radius: 0px 0px 4px 4px;
    }

    #barchart {
        margin-bottom: -15px;
        display: inline-block;
    }

    .chart-tittle .title {

    }

    .panel.green-chart .chart-tittle .value {
        float: right;
        color: #c0f080;
    }

    .panel.green-chart {
        background: #a9d96c;
        color: #fff;
    }

    .panel.terques-chart {
        background: #41cac0;
        color: #fff;
    }

    .panel.terques-chart .chart-tittle .value {
        float: right;
        color: #fff;
    }

    .panel.terques-chart .chart-tittle .value a {
        color: #fff;
        font-size: 12px;
    }

    .panel.terques-chart .chart-tittle .value a:hover, .panel.terques-chart .chart-tittle .value a.active {
        color: #55f2e7;
        font-size: 12px;
    }

    .panel.terques-chart .chart-tittle {
        font-size: 16px;
        padding: 15px;
        display: inline-block;
        font-weight:normal;
        background: #39b7ac;
        width: 100%;
        -webkit-border-radius: 0px 0px 4px 4px;
        border-radius: 0px 0px 4px 4px;
    }

    .inline-block {
        display: inline-block;
    }

    /**/



    /*badge*/

    .badge.bg-primary {
        background: #8075c4;
    }

    .badge.bg-success {
        background: #a9d86e;
    }

    .badge.bg-warning {
        background: #FCB322;
    }

    .badge.bg-important {
        background: #ff6c60;
      position:absolute;
    }

    .badge.bg-info {
        background: #41cac0;
    }

    ul.dropdown-menu.seconMenu li a {
        background: #ffffff!important;
        padding: 0;
        font-size: 2.3rem;
        color: #000934;
    }
    span.badge.badge-sm{
        font-size:0.9rem!important;
    }
    i.i-eye.btnlist{
    font-size: 2rem;
    margin-left: -4px;
    margin-top: 2px;
    }

  a.i-edit.form{
        margin-right:10px;
        text-decoration:none;
        cursor:pointer;
    }

    small, .small {
    font-size: 82%!important;
}